@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
/* Navbar: font-family: 'Nanum Gothic', sans-serif; */  
/*  Heading - font : font-family: 'Josefin Sans', sans-serif; */
/* Body Font : font-family: 'Catamaran', sans-serif; */


/* Utility Classes */

 
body{
    font-family: 'Catamaran', sans-serif;
    background-color: #c4beb775;
}

.sub-heading{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    font-size: 1.9rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-overflow:clip;
}

hr{
    border: 0;
  display: block;
  height: 3px;
  background-color: #1b1b31;
  width: 100%;
  clear: both;
}

pre{
    white-space: pre-wrap;
    word-break: keep-all;
    tab-size: 2;
}
/* __________________________________________________________________ */
/* Navigation Bar */

#navbar{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    border-right:2px solid black ;
    
    height: 100vh ;
    margin-top: 12px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}


@media only screen and (max-width:1408px){
    #navbar{max-width: 400px; }
    #main-doc{width: 50vw;}
}
@media only screen and (max-width:1036px){
    #navbar{max-width: 400px; }
    #main-doc{width: 44vw;
    left: 497px;}
}
@media only screen and (max-width:900px){
    
    #navbar{max-width: 400px; }
    #main-doc{width: 40vw;
    }
}
@media only screen and (max-width:840px){
    #navbar{
        background-color: white;
        position: relative;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 335px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    header{
        text-align: center;
        font-size: 1.25rem;
    margin-top: 14px;
    }
    #main-doc{ 
        position: relative;
        margin-left: -560px;
        margin-top: -167px !important;
    }
    .main-section{
        top: 187px;
    width: 91vw;
    left: 20px !important;
    }
    }
    


/* Main Section */
#main-doc{
    max-width: 61vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 551px;
    margin-top: 14px;

}

#navbar>ul>li{
    margin-top: 20px;
}

#navbar>ul>li>ul>li{
    margin: 10px;
    padding: 10px;
}
a.nav-link{
    text-decoration: none;
    font-size:1.25rem ;
   
   
}
.nav-link:hover{
    color: brown;
}

#navbar>ul>hr, #navbar>ul>li>hr{
    display: block;
    background-color: coral;
    width: 100%;
    height: 0.5px;
}

.main-section{
    list-style: none;
    position: relative;
    left: -21px;
}

#footer-section{
    position: relative;
    bottom: 9px;
  padding: 16px 12px;
     text-align: center;
     border-radius: 45px;
}

@media only screen and (max-width:840px){
    #footer-section{

        /* border: 2px solid black; */
        
        width: 219%;
        position: relative;
    bottom: -232px;
    font-size: 12px;
    display: block;
}